
.loader-wrap {
  position: absolute;
  z-index: 1000;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  display: none;
  transition: opacity 3s ease-out;
  opacity: 1;
}

.loader {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.7) ), url(img/1.jpg) no-repeat;
  background-size: cover;
  animation: shake .3s;
  animation-delay: 1.6s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.box-loader {
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 60%;
  height: 70%;
  padding: 10px;
  display: inline-block;
  background: url(img/box-loader.png) no-repeat;
  background-size: cover;
  background-position-x: center;
  visibility: hidden;
  z-index: 1;
  transition: all 2s;
  animation: zoomBox .5s linear forwards;
  animation-delay: 1.3s;
  overflow: hidden;
}

@keyframes zoomBox {
  0% {
    transform: scale3d(9, 9, 9);
    width: 20%;
    height: 7.5%;
    left: 40%;
    top: 50%;
    visibility: visible;

  }
  10% {
    transform: scale3d(7, 7, 7);
    width: 20%;
    height: 7.5%;
    left: 40%;
    top: 50%;
  }
  20% {
    transform: scale3d(5, 5, 5);
    width: 20%;
    height: 7.5%;
    left: 40%;
    top: 50%;
  }
  30% {
    transform: scale3d(3, 3, 3);
    width: 20%;
    height: 7.5%;
    left: 40%;
    top: 50%;
  }
  40% {
    transform: scale3d(2, 2, 2);
    width: 60%;
    height: 26%;
    left: 20%;
    top: 40%;
  }
  50% {
    transform: scale3d(1, 1, 1);
    width: 50%;
    height: 22%;
    left: 25%;
    top: 40%;
  }
  60% {
    transform: scale3d(1, 1, 1);
    width: 50%;
    height: 22%;
    left: 25%;
    top: 40%;
  }
  70% {
    transform: scale3d(1, 1, 1);
    width: 60%;
    height: 26%;
    left: 20%;
    top: 40%;
  }
  80% {
    transform: scale3d(1, 1, 1);
    width: 60%;
    height: 26%;
    left: 20%;
    top: 40%;
  }
  90% {
    transform: scale3d(1, 1, 1);
    width: 60%;
    height: 26%;
    left: 20%;
    top: 40%;
  }
  100% {
    width: 61%;
    height: 80%;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    visibility: visible;
  }
}

/* Shining effect */
.box-loader::before {
  content: '';
  position: absolute;
  top: 0;
  left: -115%;
  width: 30%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0,0,0, .2));
  transition: all .3s;
  transform: skewX(-45deg);
  animation: shine .5s linear forwards;
  animation-delay: 2.5s;
}

.box-loader::after {
  content: '';
  position: absolute;
  top: 0;
  left: -115%;
  width: 30%;
  height: 100%;
  background-image: linear-gradient(rgba(255,255,255, .4), rgba(0,0,0, .2));
  transition: all .3s;
  transform: skewX(-45deg);
  animation: shine .3s linear forwards;
  animation-delay: 5s;
}

@keyframes shine {
  0%{
    left: -50%;
  }
  50%{
    left: 100%;
  }
  100%{
    left: 200%;
  }
}

/* Head animation */
.anima1 {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  z-index: 10000;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  visibility: hidden;
  animation: head 2s ease forwards;
  animation-delay: 2s;
}

@keyframes head {
  0% {
    visibility: visible;
    opacity: 0.5;
  }
  50% {
    visibility: visible;
    opacity: 0.9;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.anima1-bg {
  width: 130px;
  height: 0px;
  background-color: #D91C5C;
  overflow: hidden;
  margin-top: 70px;
  position: absolute;
  z-index: 0;
  top: calc(60% + 5px);
  left: calc(50% - 2px);
  transform: translate(-50%, -50%);
  display: block;
  animation: brain 1.5s ease forwards;
  animation-delay: 2s;
}

@keyframes brain {
  100% {
    margin-top: 0;
    height: 70px;
  }
}

.wrap-anima1 {
  animation: head 4s forwards;
  animation-delay: 1s;
}

@keyframes head {
  0% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.anima2 {
  position: absolute;
  width: 293px;
  height: 308px;
  margin: 0 auto;
  z-index: 10000;
  top: calc(55% + 22px);
  left: calc(55% - 12px);
  transform: translate(-50%, -50%);
  display: block;
}

.wrap-anima2 {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  visibility: hidden;
  animation: head-open 6s ease forwards;
  animation-delay: 1s;
}

@keyframes head-open {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.numbers {
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0;
  left: +5%;
  animation: num 7s;
  animation-delay: 4s;
  visibility: hidden;
}

@keyframes num {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  75% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 0.8;
  }
}

.numbers img {
  position: absolute;
  width: 50px;
  height: 60px;
  top: 60%;
  left: 40%;
  z-index: 1;
}

.numbers img:nth-child(1) {
  left: calc(50% + 20px);
  animation: anima-num 7s linear forwards;
  animation-delay: 3.7s;
}
.numbers img:nth-child(2) {
  left: calc(50% - 20px);
  animation: anima-num 8s linear forwards;
  animation-delay: 4s;
}
.numbers img:nth-child(3) {
  left: calc(50% + 25px);
  animation: anima-num 9s linear forwards;
  animation-delay: 5s;
}
.numbers img:nth-child(4) {
  left: calc(50% + 0px);
  animation: anima-num 6s linear forwards;
  animation-delay: 8s;
}
.numbers img:nth-child(5) {
  left: calc(50% - 50px);
  animation: anima-num 11s linear forwards;
  animation-delay: 6s;
}
.numbers img:nth-child(6) {
  left: calc(50% + 23px);
  animation: anima-num 12s linear forwards;
  animation-delay: 4s;
}
.numbers img:nth-child(7) {
  left: calc(50% - 25px);
  animation: anima-num 13s linear forwards;
  animation-delay: 5s;
}
.numbers img:nth-child(8) {
  left: calc(50% + 20px);
  animation: anima-num 15s linear forwards;
  animation-delay: 4s;
}
.numbers img:nth-child(9) {
  left: calc(50% - 30px);
  animation: anima-num 7s linear forwards;
  animation-delay: 7s;

}
.numbers img:nth-child(10) {
  left: calc(50% - 45px);
  animation: anima-num 8s linear forwards;
  animation-delay: 3s;

}
.numbers img:nth-child(11) {
  left: calc(50% + 5px);
  animation: anima-num 9s linear forwards;
  animation-delay: 7s;

}
.numbers img:nth-child(12) {
  left: calc(50% - 75px);
  animation: anima-num 10s linear forwards;
  animation-delay: 5s;
}
.numbers img:nth-child(13) {
  left: calc(50% - 65px);
  animation: anima-num 11s linear forwards;
  animation-delay: 4s;
}
.numbers img:nth-child(14) {
  left: calc(50% - 35px);
  animation: anima-num 12s linear forwards;
  animation-delay: 4.7s;
}
.numbers img:nth-child(15) {
  left: calc(50% + 20px);
  animation: anima-num 18.2s linear forwards;
  animation-delay: 3.7s;
}
.numbers img:nth-child(16) {
  left: calc(50% - 20px);
  animation: anima-num 18.5s linear forwards;
  animation-delay: 4s;
}
.numbers img:nth-child(17) {
  left: calc(50% + 25px);
  animation: anima-num 32s linear forwards;
  animation-delay: 5s;
}
.numbers img:nth-child(18) {
  left: calc(50% + 0px);
  animation: anima-num 25s linear forwards;
  animation-delay: 8s;
}
.numbers img:nth-child(19) {
  left: calc(50% - 50px);
  animation: anima-num 20s linear forwards;
  animation-delay: 7s;
}
.numbers img:nth-child(20) {
  left: calc(50% + 23px);
  animation: anima-num 22s linear forwards;
  animation-delay: 5s;
}
.numbers img:nth-child(21) {
  left: calc(50% - 25px);
  animation: anima-num 23.5s linear forwards;
  animation-delay: 5s;
}

@keyframes anima-num {
  0% {
    opacity: 0;
    top: 55%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
    top: 50%;
  }
  20% {
    transform: translateX(-20px) rotate(180deg);
  }
  40% {
    transform: translateX(20px) rotate(270deg);
  }
  60% {
    transform: translateX(-20px) rotate(0deg);
  }
  80% {
    transform: translateX(20px) rotate(90deg);
  }
  100% {
    top: 0%;
    display: none;
  }
}

/* Response for 19" #################################################################################################################################### */
@media only screen and (max-width: 1440px) {

  .box-loader {
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
  }

  .anima1-bg {    
    top: calc(60% - 5px);    
 }

  .anima2 {
    top: calc(55% + 7px);
    left: calc(55% + 2px);
  }

  .numbers {
    width: 85%;
    top: -5%;
    left: +6%;
  }
}

/* Response for tablet #################################################################################################################################### */
@media only screen and (max-width: 767px) {

  .box-loader {
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
  }

  @keyframes zoomBox {
    0% {
      transform: scale3d(9, 9, 9);
      width: 20%;
      height: 7.5%;
      left: 40%;
      top: 50%;
      visibility: visible;
  
    }
    10% {
      transform: scale3d(7, 7, 7);
      width: 20%;
      height: 7.5%;
      left: 40%;
      top: 50%;
    }
    20% {
      transform: scale3d(5, 5, 5);
      width: 20%;
      height: 7.5%;
      left: 40%;
      top: 50%;
    }
    30% {
      transform: scale3d(3, 3, 3);
      width: 20%;
      height: 7.5%;
      left: 40%;
      top: 50%;
    }
    40% {
      transform: scale3d(2, 2, 2);
      width: 60%;
      height: 26%;
      left: 20%;
      top: 40%;
    }
    50% {
      transform: scale3d(1, 1, 1);
      width: 50%;
      height: 22%;
      left: 25%;
      top: 40%;
    }
    60% {
      transform: scale3d(1, 1, 1);
      width: 50%;
      height: 22%;
      left: 25%;
      top: 40%;
    }
    70% {
      transform: scale3d(1, 1, 1);
      width: 60%;
      height: 26%;
      left: 20%;
      top: 40%;
    }
    80% {
      transform: scale3d(1, 1, 1);
      width: 60%;
      height: 26%;
      left: 20%;
      top: 40%;
    }
    90% {
      transform: scale3d(1, 1, 1);
      width: 60%;
      height: 26%;
      left: 20%;
      top: 40%;
    }
    100% {
      width: 95%;
      height: 90%;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      visibility: visible;
    }
  }

  .anima1 {
    zoom: 1;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    visibility: hidden;
  }

  .anima1-bg {    
    top: calc(60% - 5px);    
  }

  .anima2 {
    zoom: 1;
    top: calc(55% + 5px);
    left: calc(55% + 10px);
  }

  .numbers {
    width: 85%;
    top: -5%;
    left: +6%;
  }
}

/* Response for mobile device 4" #################################################################################################################################### */
@media only screen and (max-width: 575px) {

  .box-loader {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
  }

  .anima1 {
    zoom: .8;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    visibility: hidden;
  }

  .anima1-bg {    
    top: calc(60% - 5px);
    left: 50%;
    zoom: .8;   
  }

  .anima2 {
    zoom: .8;
    top: calc(55% + 2px);
    left: calc(60% + 8px);
  }

  .numbers {
    width: 80%;
    top: 0%;
    left: 10%;
    zoom: .8;
  }
}

