@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700');
@import 'loader.css';

@font-face {
  font-family:'digital-clock-font';
  src: url('fonts/digital-7.ttf');
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Game Page */
#game-page {
  position: absolute;
  background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.7) ), url(img/1.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: opacity 2s linear;
  opacity: 0;
  display: none;
}

.frame {
  position: relative;
  width: 65%;
  height: 75%;
  background-color: transparent;
  margin: 5% auto;
  border: 2px solid #f4f4f4;
  border-radius: 20px; 
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
}

#target {
  position: absolute;
  display: inline-block;
  transform: translate(-50%, -50%);
  top: 15%;
  left: 50%;
  margin: 10px 0 0 0;
  padding: 0;
  color: #dbc715;
  font-size: 36px;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid rgba(228, 228, 228, 0.877);
  background-color: #000;
  width: 100px;
  text-align: center;
}

.text-target {
  position: absolute;
  display: inline-block;
  width: 250px;
  margin: 50px auto 0 auto;
  padding: 5px 0;
  text-align: center;
  transform: translate(-50%, -50%);
  left: 50%;
  color: #f4f4f4;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
}

.text-value {
  position: absolute;
  display: inline-block;
  width: 250px;
  margin: 30px auto 0 auto;
  padding: 5px 0;
  text-align: center;
  transform: translate(-50%, -50%);
  top: calc(20% + 10px);
  left: 50%;
  color: #f4f4f4;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
}

#value {
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 35%;
  left: 50%;
  margin: 0;
  padding: 0;
  color: #dbc715;
  font-size: 36px;
  width: 100px;
  background-color: #000;
  border: 2px solid rgb(48, 121, 255);
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

/* Timer Style */

#timer {
  position: absolute;
  display: inline-block;
  top: 15%;
  left: 15%;  
  background: url(img/Timer.svg) no-repeat;
  background-size: 85px;  
  background-position: 50% 50%;
  color: yellow;
  font-size: 40px;  
  font-family:'digital-clock-font';
  width: 100px;
  height: 100px;
  margin: 0;
  text-align: center;  
  box-sizing: border-box;
  padding-top: 0px;
  line-height: 110px;
}

#calculator {
  width: 85%;
  height: 45%;
  top: calc(45% + 25px);
  background-color: #000;
  margin: 0px auto;
  border-radius: 20px;
  box-shadow: 2px 4px 30px 7px #f4f4f4;
  font-family: 'Orbitron', sans-serif;
  position: relative;
  overflow: hidden;
}

.calc-shine {
  position: absolute;
  width: 55%;
	height: 180%;
	top: -115%;
	left: -3%;
	transform: rotate(35deg);
	background-image: linear-gradient(rgba(255,255,255,.5), rgba(0,0,0,0))
}

#calc-display {
  width: 90%;
  height: 50px;
  background-color: #ffffff;
  padding: 5px 25px;  
  border-radius: 55px;  
  transform: translate(0%, 30%);  
  margin: 10px auto;
  z-index: 100;
}

#calc-display-val {
  width: 90%;
  height: 40px;
  margin: 0;
  padding: 0;
  font-size: 32px;
  word-wrap: break-word;
  overflow: hidden;
  padding: 5px 0 0;
}

.calc-backspace-btn {
  position: absolute;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color:  rgb(41, 41, 41);
  color: #f4f4f4;
  width: 45px;
  height: 35px;
  font-size: 23px;
  top: 20%;
  left: 93%;
  line-height: 1.4;
  zoom: 1;
}

.calc-backspace-btn::before {
  content: "";
  position: absolute;
  left: -25%;
  bottom: 0px;
  width: 0;
  height: 2px;
  border-radius: 7px;
  border-right: 14px solid rgb(41, 41, 41);
  border-top: 17px solid transparent;
  border-bottom: 16px solid transparent;
}

.calc-backspace-btn:active {
  font-size: 15px;
  line-height: 2;
  background-color: rgb(78, 75, 75);
}

.calc-backspace-btn:active::before {
  border-right: 14px solid rgb(78, 75, 75);
}

.calc-backspace-btn:focus {
  outline: 0;
}

.calc-backspace-row {
  display: none;
}

.solution-display {
  position: relative;
  width: 90%;
  height: 30px;
  background-color: #0000;
  /* border: 1px solid #ffff; */
  padding: 5px 25px;
  /* border-radius: 55px; */
  transform: translate(0%, 30%);
  margin: 10px auto;
  z-index: 100;
  line-height: 1.4;
  color: yellow;
  font-size: 24px;
  font-family: 'digital-clock-font';
  overflow: hidden;
  display: none;
}

.solution-display span {
  display: inline-block;
  width: 100%;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;
  width: 100%;
  justify-items: start;
  position: absolute;
  left: 15px;
  top: 50%;
}

.number-row {
  display: grid;
  width: 60%;
  grid-template-columns: repeat(8, 50px);
  grid-gap: 20px;
  margin: 0;
  padding: 0;
  justify-content: start;
  z-index: 100;
  position: relative;
  top: 0;
  left: 40px;
  background-color: #00000000;
  color: #ffffff;
  height: 50px;
}

.calc-row {
  display: grid;
  grid-template-columns: repeat(13, 50px);
  grid-gap: 20px;
  margin: 0;
  padding: 0;
  justify-content: start;
  position: relative;
  top: 0;
  left: 40px;
  background-color: #00000000;
  color: #ffffff;
  height: 50px;
}

.column {
  text-align: center;
  font-size: 30px;
  padding: 0;
  margin: auto;
  line-height: 1.5;
}

#num5 {
  grid-column: 5/7;
  margin-left: 30px;
}

#num6 {
  grid-column: 7/9;
  margin-left: 30px;
}

.calc-btn {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
}

.calc-btn:hover {
  border: 1px solid #f4f4f4;
}

.calc-btn:active {
  font-size: 20px;
  line-height: 2.3;
}

.calc-btn:focus {
  outline: 0;
}

#calc-stop {
  display: none;
  background: rgb(196, 0, 0);
  color: #f4f4f4;
  font-size: 26px;
  text-align: center;
  grid-column: 10/13;
  transform: translate( 50%, -60%);
  height: 60px;
  line-height: 2.2;
  letter-spacing: 5px;
}

#calc-stop:hover {
  background: #ff0000;
}

#calc-confirm {
  display: none;
  font-size: 26px;
  background-color: rgb(12, 153, 7);
  color: #f4f4f4;
  text-align: center;
  grid-column: 10/13;
  transform: translate( 50%, -60%);
  height: 60px;
  line-height: 2.2;
  letter-spacing: 2px;
}

#calc-confirm:hover {
  background-color: rgb(24, 204, 18);
}

#calc-confirm:active {
  font-size: 20px;
}

#calc-confirm:focus {
  outline: 0;
}

.used {
  pointer-events: none;
  opacity: 0.2;
}

.run_num {
  pointer-events: none;
  opacity: 1;
}

#start_game {
  grid-column: 10/13;
  transform: translate( 50%, -60%);
  height: 60px;
  font-size: 26px;
  margin: 0;
  padding: 0;
  background-color: #0335a8;
  color: #f4f4f4;
  border: none;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  line-height: 2.2;
  letter-spacing: 4px;
}

#start_game:hover {
  background-color: #0e56ff;
}

#new_game {
  display: none;
  background: url(img/twotone_restore_white_48dp.png) no-repeat;
  background-position: 50% 50%;
  background-size: 20%;
  grid-column: 10/13;
  transform: translate( 50%, -60%);
  height: 60px;
  color: #f4f4f4;
  background-color: #a30072;
}

#new_game:hover {
  background-color: #ff00b2;
}

.footer {
  position: relative;
  color: #f4f4f4;
  width: 250px;
  height: 30px;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 90%;
  z-index: 9999;
}

.footer p {
  margin: 0;
  display: inline-block;
  opacity: .5;
}

.footer img {
  width: 30px;
  margin: 0 0 -10px 10px;
}

/* Response for 19" #################################################################################################################################### */
@media only screen and (max-width: 1500px) {

  .frame {
    margin: 100px auto;
  }

  #calculator {
    width: 95%;
    height: 50%;
    top: calc(40% + 35px);
}

  #calc-display {    
    margin: 0px auto;  
  }

  .calc-backspace-btn {
    left: 90%;
  }

  .calc-backspace-btn::before {
    left: -25%;
  }

  #keyboard {  
    top: 50%;
    grid-gap: 20px;
  }

  #start_game {
    grid-column: 8/11;
  }

  #calc-stop {
    grid-column: 8/11;
  }

  #calc-confirm {    
    grid-column: 8/11;
  }

  #new_game {
    grid-column: 8/11;
  }

  .footer {
    top: 60%;
    left: 80%;
  }
}

/* Response for 19" #################################################################################################################################### */
@media only screen and (max-width: 1400px) {

  .frame {
    margin: 50px auto;
    height: 80%;
  }

  .text-target {
    position: absolute;
    top: 8%;
    left: 50%;
    padding: 0;
    margin: 0;
  }

  .text-value {
    position: absolute;
    top: 20%;
    left: 50%;
    padding: 0;
  }

  #calc-display {
    width: 85%;
  }

  .solution-display {
    width: 85%;
  }

  #keyboard {
    grid-gap: 15px;
    top: 50%;
  }


  .column {
    font-size: 28px;
  }

  .number-row {
    grid-template-columns: repeat(10, 45px);
    grid-gap: 17px;
    left: 40px;
    height: 45px;
  }

  .calc-row {
    grid-template-columns: repeat(10, 45px);
    height: 45px;
    top: 0px;
  }

  .calc-backspace-btn {
    left: 90%;
  }

  #calc-stop {
    grid-column: 8/11;
    height: 50px;
    font-size: 22px;
  } 
  
  #calc-confirm {
    grid-column: 8/11;
    height: 50px;
    font-size: 22px;
  }

  #start_game {
    grid-column: 8/11;
    height: 50px;
    font-size: 22px;
  } 

  #new_game {
    grid-column: 8/11;
    height: 50px;
    background-size: 20%;
  }

  .footer {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 110%;
    left: 80%;
  }
}

/* Response for 17" #################################################################################################################################### */
@media only screen and (max-width: 1280px) {

    .frame {
      width: 70%;
      height: 75%;
      margin: 10% auto;
    }

    #calculator {
      width: 95%;
      height: 50%;
    }

    #calc-display {
      position: relative;
      width: 85%;
      height: 45px;
      margin: auto;
    }

    .calc-backspace-btn {
      left: 90%;
      top: 20%;
    }

    .number-row {
      grid-template-columns: repeat(10, 35px);
    }

    .calc-row {
      grid-template-columns: repeat(15, 35px);
    }

    /* #calc-confirm {
      grid-column: 10/13;
    }

    #calc-stop {
      grid-column: 10/13;
    }

    #start_game {
      grid-column: 10/13;
    }

    #new_game {
      grid-column: 10/13;
      transform: translate(0, 0);
    } */
}

/* Response for mobile" #################################################################################################################################### */
 @media only screen and (max-width: 780px) {

  .frame {
    position: relative;
    width: 45%;
    height: 90%;
    margin: 5% auto;
    overflow: hidden;
    border-radius: 25px;
    top: 0px;
    left: 0px;
  }
  
  #calculator {
    position: relative;
    width: 99%;
    height: 65%;
    top: calc(30% + 20px);
    margin: auto;
  }

  .calc-shine {
    left: 37%;
  }

  #timer {
    position: absolute;
    display: block;
    top: 8%;
    left: 11%;  
    margin: 0;
    /* line-height: 2.6; */
    zoom: .8;
  }
  
  #target {
    position: absolute;
    top: 11%;
    left: 68%;
    line-height: 1.1;
    padding: 3px;
    zoom: .8;
    margin: 0;
  }
  
  .text-target {
    position: absolute;
    top: 5%;
    left: 68%;
    zoom: .8;
    margin: 0;
  }

  .text-value {
    position: absolute;
    top: 20%;
    left: 68%;
    zoom: .8;
    margin: 0;
  }
  
  #value {
    position: absolute;
    top: 26%;
    left: 68%;
    line-height: 1.1;
    zoom: .8;
    padding: 3px;
  }

  #calc-display {
    position: relative;
    width: 79%;
    height: 40px;
    margin: auto;
    border-radius: 25px;
  }

  #calc-display-val {
    position: absolute;
    width: 95%;
    height: 40px;
    margin: auto -15px;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 2.5;
  }

  .display {
    width: 70%;
  }

  .solution-display {
    width: 75%;
  }

  .solution-display span {
    display: inline-block;
    width: 150%;
    font-size: 18px;
    animation: marquee 10s linear infinite;
  }

  #keyboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    width: 55%;
    justify-items: start;
    position: absolute;
    left: 6%;
    top: 30%;
  }

  .column {
    text-align: center;
    font-size: 24px;
    padding: 0;
    height: 37px;
    line-height: 1.7;
  }

  .number-row {
    display: grid;
    width: 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
  }

  .calc-row {
    display: grid;
    width: 180px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
  }
  
  .calc-btn-num {
    border: 1px solid #f4f4f4;
  }
  
  .calc-btn-operator {
    border: 1px solid #f4f4f4;
  } 

  .calc-btn-operator:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }

  .calc-btn-operator:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  .calc-btn-operator:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }

  .calc-btn-operator:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .calc-btn-operator:nth-child(5) {
    grid-area: 3 / 1 / 4 / 2;
  }

  .calc-btn-operator:nth-child(6) {
    grid-area: 3 / 2 / 4 / 3;
  }

  .calc-btn-operator:hover {
    font-size: 26px;
  }  

  .calc-btn-operator:active {
    background-color: #ffffff;
  }

  .number-row {
    height: 40px;
}

  #num5 {
    grid-column: 1/3;
    margin: 0;
  }
  
  #num6 {
    grid-column: 1/3;
    margin: 0;
  }

  #backspace {
    position: relative;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    color: transparent;
    display: block;
    height: 40px;
    font-size: 23px;
    line-height: 1.6;
    box-sizing: border-box;
    text-align: center;
    grid-area: 4 / 1 / 5 / 3;
  }

  #backspace::after {
    content: 'del';
    color: #0000;
    text-shadow: 3px 2px 0px #aea5a5, 3px 2px 0px #aea5a5;
    font-weight: 700;
    position: relative;
    right: 8%;  
  }
  
  .calc-backspace-row:active {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1), 0 0 0 75px rgba(255, 255, 255, 0.05),
    0 0 0 30px rgba(255, 255, 255, 0.05);
    line-height: 1.5;
  }

  /* remove opacity of numbers on keyboard when click start */
  .run_num {
    pointer-events: none;
    opacity: 1;
  }

  .calc-backspace-btn {
    display: none;
    visibility: hidden;
  }

  #calc-stop {
    display: none;
    position: relative;
    writing-mode: vertical-lr;
    text-orientation: upright;
    line-height: 2.2;
    grid-area: 1 / 3 / 5 / 4;
    top: 60%;
    right: 44%;
    width: 50px;
    height: 187px;
  } 
  
  #calc-confirm {
    display: none;
    position: relative;
    line-height: 2.1;
    grid-area: 1 / 3 / 5 / 4;
    top: 60%;
    right: 44%;
    width: 50px;
    height: 187px;
    color: transparent;
    font-size: 30px;
  }

  #calc-confirm::after {
    content: ' =';
    color: #f4f4f4;
  }

  #calc-confirm:active {
    font-size: 40px;
  }

  #start_game {
    position: relative;
    writing-mode: vertical-lr;
    text-orientation: upright;
    line-height: 2.2;
    grid-area: 1 / 3 / 5 / 4;
    top: 60%;
    right: 44%;
    width: 50px;
    height: 187px;
  } 

  #new_game {
    display: none;
    position: relative;
    grid-area: 1 / 3 / 5 / 4;
    top: 60%;
    right: 44%;
    width: 50px;
    height: 187px;
    background-size: 50%;
  }

  .footer {
    position: absolute;
    left: calc(50% + 10px);
    top: 95%;
    transform: translate(-50%, -50%);
  }
}

/* Response for mobile" #################################################################################################################################### */
@media only screen and (max-width: 430px) {

  .frame {
    position: relative;
    width: 95%;
    height: 90%;
  }

  .calc-shine {
    left: 45%;
  }

  #timer {
    line-height: 2.7;
  }
  
  #target {
    line-height: 1.2;
  }

  .text-target {
    top: 5%;
}

  .text-value {
    top: 20%;
    left: 68%;
  }
  
  #value {
    line-height: 1.2;
  }

  #calculator {
    width: 95%;
}

  .solution-display {
    display: none;
    width: 66%;
    line-height: 1;
  }

  .solution-display span {
    width: 150%;
  }

  @keyframes marquee {
    from {
      transform: translateX(90%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  #keyboard {
    left: 10%;
    top: 30%;
    grid-gap: 20px;
  }

  .column {
    text-align: center;
    font-size: 24px;
    padding: 0;
    height: 40px;
    line-height: 1.7;
  }

  .number-row {
    top: 0;
    left: 0;
    width: 115px;
  }

  .calc-row {
    top: 0;
    left: 0;
  }

  #backspace {
    top: 0;
    left: 0;
    transform: translate( 0, 0);
  }

  #start_game {
    height: 197px;
  }

  #calc-stop {
    height: 197px;
  }

  #calc-confirm {
    height: 197px;
  }

  #new_game {
    height: 197px;
  }
}



@media only screen and (max-width: 375px) {

  .solution-display {
    width: 75%;
  }

  #keyboard {
    left: 4%;
    top: 30%;
    grid-gap: 20px;
  }

  .number-row {
    top: 0;
    left: 0;
    width: 115px;
  }

  .calc-row {
    top: 0;
    left: 0;
  }
}

@media only screen and (max-width: 320px) {

  .frame {
    height: 99%;
    margin: 2% auto;
  }

  #calculator {
    width: 97%;
  }

  .solution-display {
    width: 73%;
    height: 15px;
    font-size: 15px;
  }

  .solution-display span {
    width: 170%;
  }

  #keyboard {
    left: 4%;
    top: 30%;
    grid-gap: 10px;
  }

  .number-row {
    top: 0;
    left: 0;
    width: 100px;
  }

  .calc-row {
    top: 0;
    left: 0;
    width: 160px;
  }

  .footer {
    top: 97%;
  }
}