@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700');
@font-face{
  font-family:'digital-clock-font';
  src: url('fonts/digital-7.ttf');
 }
body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  
}

.loader-wrap {
  position: absolute;
  z-index: 1000;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;  
}

.loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.7) ), url(img/1.jpg) no-repeat;
  background-size: cover;
  animation: shake .3s;
  animation-delay: .6s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.box-loader {
  position: relative;
  width: 800px;
  height: 600px;
  background-image: url(img/box-loader.png);
  padding: 20px;
  margin: 100px auto;
  animation: zoomBox .3s forwards;
  animation-delay: .3s;
  background-size: cover;
  visibility: hidden;
  z-index: 1;
}

.no-animation {
  display: none;
}

@keyframes zoomBox {
  0% {
    transform: scale(5);
    width: 400px;
    height: 100px;
    background-size: cover;
    visibility: visible;
  }
  10% {
    transform: scale(4);
    width: 400px;
    height: 100px;
    background-size: cover;
    visibility: visible;
  }
  20% {
    transform: scale(3);
    width: 400px;
    height: 100px;
    background-size: cover;
    visibility: visible;
  }
  30% {
    transform: scale(2);
    width: 400px;
    height: 100px;
    background-size: cover;
    visibility: visible;
  }
  40% {
    transform: scale(1);
    width: 500px;
    height: 120px;
    background-size: cover;
    visibility: visible;
  }
  50% {
    transform: scale(1);
    width: 550px;
    height: 140px;
    background-size: cover;
    visibility: visible;
  }
  60% {
    transform: scale(1);
    width: 600px;
    height: 150px;
    background-size: cover;
    visibility: visible;
  }
  70% {
    transform: scale(1);
    width: 650px;
    height: 150px;
    background-size: cover;
    visibility: visible;
  }
  80% {
    transform: scale(1);
    width: 700px;
    height: 170px;
    background-size: cover;
    visibility: visible;
  }
  90% {
    transform: scale(1);
    width: 800px;
    height: 350px;
    visibility: visible;
  }
  100% {
    transform: scale(1);
    width: 800px;
    height: 500px;
    visibility: visible;
  }
}

.anima1 {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  z-index: 10000;
  /* top: 250px;
  left: -4px; */
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  visibility: hidden;
  animation: head 2s ease forwards;
  animation-delay: 1s;
}

@keyframes head {
  0% {
    visibility: visible;
    opacity: 0.5;
  }
  50% {
    visibility: visible;
    opacity: 0.9;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.anima1-bg {
  width: 130px;
  height: 0px;
  background-color: #D91C5C;
  overflow: hidden;
  /* -webkit-transition: all 0.8s linear;
  -moz-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear; */
  margin-top: 70px;
  position: absolute;
  z-index: 0;
  /* top: 85px;
  left: 335px; */
  top: calc(60% - 10px);
  left: calc(50% - 2px);
  transform: translate(-50%, -50%);
  display: block;
  animation: brain 1.5s ease forwards;
  animation-delay: 1s;

}

@keyframes brain {
  100% {
    margin-top: 0;
    height: 70px;
  }
}

.wrap-anima1 {
  animation: head 3s forwards;
}

@keyframes head {
  0% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.anima2 {
  position: absolute;
  width: 293px;
  height: 308px;
  margin: 0 auto;
  z-index: 10000;
  /* top: -129px;
  left: 41px; */
  top: 55%;
  left: calc(55% + 4px);
  transform: translate(-50%, -50%);
  display: block;
}

.wrap-anima2 {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  animation: head-open 6s ease;
}

@keyframes head-open {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.numbers {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: +.2%;
  animation: num 7s;
  animation-delay: 3s;
  visibility: hidden;
}

@keyframes num {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  75% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 0.8;
  }
}

.numbers img {
  position: absolute;
  width: 50px;
  height: 60px;
  top: 60%;
  left: 40%;
  z-index: 1;
}

.numbers img:nth-child(1) {
  left: calc(50% + 20px);
  animation: anima-num 7s linear infinite;
  animation-delay: 3.7s;
}
.numbers img:nth-child(2) {
  left: calc(50% - 20px);
  animation: anima-num 8s linear infinite;
  animation-delay: 4s;
}
.numbers img:nth-child(3) {
  left: calc(50% + 25px);
  animation: anima-num 9s linear infinite;
  animation-delay: 5s;
}
.numbers img:nth-child(4) {
  left: calc(50% + 0px);
  animation: anima-num 10s linear infinite;
  animation-delay: 12s;
}
.numbers img:nth-child(5) {
  left: calc(50% - 50px);
  animation: anima-num 11s linear infinite;
  animation-delay: 17s;
}
.numbers img:nth-child(6) {
  left: calc(50% + 23px);
  animation: anima-num 12s linear infinite;
  animation-delay: 15s;
}
.numbers img:nth-child(7) {
  left: calc(50% - 25px);
  animation: anima-num 13s linear infinite;
  animation-delay: 5s;
}
.numbers img:nth-child(8) {
  left: calc(50% + 20px);
  animation: anima-num 15s linear infinite;
  animation-delay: 4s;
}
.numbers img:nth-child(9) {
  left: calc(50% - 30px);
  animation: anima-num 7s linear infinite;
  animation-delay: 17s;

}
.numbers img:nth-child(10) {
  left: calc(50% - 45px);
  animation: anima-num 8s linear infinite;
  animation-delay: 13s;

}
.numbers img:nth-child(11) {
  left: calc(50% + 5px);
  animation: anima-num 9s linear infinite;
  animation-delay: 7s;

}
.numbers img:nth-child(12) {
  left: calc(50% - 75px);
  animation: anima-num 10s linear infinite;
  animation-delay: 5s;
}
.numbers img:nth-child(13) {
  left: calc(50% - 65px);
  animation: anima-num 11s linear infinite;
  animation-delay: 4s;
}
.numbers img:nth-child(14) {
  left: calc(50% - 35px);
  animation: anima-num 12s linear infinite;
  animation-delay: 4.7s;
}
.numbers img:nth-child(15) {
  left: calc(50% + 20px);
  animation: anima-num 18.2s linear infinite;
  animation-delay: 3.7s;
}
.numbers img:nth-child(16) {
  left: calc(50% - 20px);
  animation: anima-num 18.5s linear infinite;
  animation-delay: 4s;
}
.numbers img:nth-child(17) {
  left: calc(50% + 25px);
  animation: anima-num 32s linear infinite;
  animation-delay: 5s;
}
.numbers img:nth-child(18) {
  left: calc(50% + 0px);
  animation: anima-num 25s linear infinite;
  animation-delay: 12s;
}
.numbers img:nth-child(19) {
  left: calc(50% - 50px);
  animation: anima-num 20s linear infinite;
  animation-delay: 17s;
}
.numbers img:nth-child(20) {
  left: calc(50% + 23px);
  animation: anima-num 22s linear infinite;
  animation-delay: 15s;
}
.numbers img:nth-child(21) {
  left: calc(50% - 25px);
  animation: anima-num 23.5s linear infinite;
  animation-delay: 5s;
}

@keyframes anima-num {
  0% {
    opacity: 0;
    top: 55%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
    top: 50%;
  }
  20% {
    transform: translateX(-20px) rotate(180deg);
  }
  40% {
    transform: translateX(20px) rotate(270deg);
  }
  60% {
    transform: translateX(-20px) rotate(0deg);
  }
  80% {
    transform: translateX(20px) rotate(90deg);
  }
  100% {
    top: 0%;
  }
}


.loader-wrap.hidden {
  animation: fadeOut .3s linear forwards;
  animation-delay: 9.9s;
}

@keyframes fadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }  
  10% { 
    transform: scale(.9);
    opacity: 1;
  }
  20% {
    transform: scale(.8);
    opacity: 1;
  }  
  30% { 
    transform: scale(.7);
    opacity: 1;
  }  
  40% {
    transform: scale(.6);
    opacity: 1;
  }  
  50% {
    transform: scale(.5);
    opacity: 0;
  }  
  60% {
    transform: scale(.4);
    opacity: 0;
  }  
  70% {  
    transform: scale(.3);
    opacity: 0;
  }  
  80% {
    transform: scale(.1);
    opacity: 0; 
  }   
  90% {
    transform: scale(0); 
  } 
  100% {
    visibility: hidden;
    z-index: -100;
  }
}

/* ----------------------------------------------------------------- */

/* Game Page */
#game-page {
  position: absolute;
  background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.7) ), url(img/1.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.container {
  width: 1000px;
  height: 600px;
  background-color: transparent;
  margin: 150px auto;
  border: 2px solid #f4f4f4;
  border-radius: 20px; 
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);

}

#target {
  position: relative;
  display: inline-block;
  top: 60px;
  left: calc(10% - 30px);
  margin: 10px 0 0 0;
  padding: 0;
  color: #dbc715;
  font-size: 36px;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid rgba(228, 228, 228, 0.877);
  background-color: #000;
  width: 100px;
  text-align: center;
}

.text-target {
  position: relative;
  display: inline-block;
  width: 250px;
  margin: 20px auto 0 auto;
  padding: 5px 0;
  text-align: center;
  left: calc(25% + 5px);
  color: #f4f4f4;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
}

.text-value {
  position: relative;
  display: inline-block;
  width: 250px;
  margin: 30px auto 0 auto;
  padding: 5px 0;
  text-align: center;
  top: 125px;
  left: calc(0% - 110px);
  color: #f4f4f4;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
}

#value {
  display: inline-block;
  position: relative;
  top: 180px;
  left: calc(-30% + 10px);
  margin: 0;
  padding: 0;
  color: #dbc715;
  font-size: 36px;
  width: 100px;
  background-color: #000;
  border: 2px solid rgb(48, 121, 255);
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#calculator {
  width: 800px;
  height: 250px;
  top: 200px;
  background: linear-gradient(135deg, rgba(43, 43, 43, 0.5) 0%, rgba(89, 89, 89, 0.5) 0%, rgba(44, 44, 44, 0.5) 0%, rgba(71, 71, 71, 0.5) 0%, rgba(102, 102, 102, 1) 0%, rgb(0, 0, 0) 0%, rgb(82, 82, 82, 0.5) 50%, rgba(0, 0, 0, 0) 50%) no-repeat;
  background-color: #000;
  margin: 0px auto;
  border-radius: 20px;
  box-shadow: 2px 4px 30px 7px #f4f4f4;
  font-family: 'Orbitron', sans-serif;
  position: relative;
}

.number-row {
  display: grid;
  width: 60%;
  grid-template-columns: repeat(12, 45px);
  grid-gap: 15px;
  margin: 0;
  padding: 0;
  justify-content: start;
  z-index: 100;
  position: relative;
  top: 10px;
  left: 30px;
}
.calc-row {
  display: grid;
  grid-template-columns: repeat(12, 45px);
  grid-gap: 15px;
  margin: 0;
  padding: 0;
  justify-content: start;
  position: relative;
  top: 40px;
  left: 30px;
}

.column {
  text-align: center;
  font-size: 26px;
  padding: 0;
}

.calc-btn-num {
  border: 1px solid transparent;
}

.calc-btn-num:hover {
  border: 1px solid #f4f4f4;
}

.calc-btn-operator {
  border: 1px solid transparent;
  
}

.calc-btn-operator:hover {
  border: 1px solid #f4f4f4;
  padding: 0;
  margin: 0;
  font-size: 26px;
  text-align: center;
}

.number-row {
  background-color: #00000000;
  color: #ffffff;
  height: 35px;
}

.calc-btn-operator {
  background-color: #00000000;
  color: #f4f4f4;
  height: 35px;
}

#num5 {
  grid-column: 5/7;
  margin-left: 30px;
}

#num6 {
  grid-column: 7/9;
  margin-left: 30px;
}

#calc-stop {
  display: none;
  background: rgb(196, 0, 0);
  color: #f4f4f4;
  font-size: 24px;
  text-align: center;
  line-height: 44px;
  height: 45px;
  width: 120px;
  position: absolute;
  left: calc(75% + 30px);
  top: calc(45% + 8px);
}

#calc-stop:hover {
  background: #ff0000;
}

#calc-confirm {
  display: block;
  font-size: 24px;
  background-color: rgb(12, 153, 7);
  color: #f4f4f4;
  text-align: center;
  line-height: 44px;
  height: 45px;
  width: 120px;
  position: absolute;
  left: calc(75% + 30px);
}

#calc-confirm:hover {
  background-color: rgb(24, 204, 18);
}

#calc-confirm:active {
  font-size: 20px;
}

#calc-confirm:focus {
  outline: 0;
}

.calc-btn:active {
  font-size: 20px;
}

.calc-btn:focus {
  outline: 0;
}

#calc-display {
  width: 700px;
  height: 50px;
  background-color:  rgba(255, 255, 255, 0.877);
  padding: 5px 25px;  
  border-radius: 55px;  
  transform: translate(0%, 30%);  
  margin: 10px 20px;
}

#calc-display-val {
  width: 650px;
  height: 40px;
  margin: 0;
  padding: 0;
  font-size: 32px;
  word-wrap: break-word;
  overflow: hidden;
  padding: 5px 0 0;
}

#calc-backspace {
  position: relative;
  text-align: center;
  border-radius: 5px;
  background-color:  rgb(41, 41, 41);
  color: #f4f4f4;
  width: 30px;
  height: 30px;
  font-size: 24px;
  display: block;
  padding: 2px;
  top: -15%;
  left: 88%;
  line-height: 27px;
}

#calc-backspace::before {
  content: "";
  position: absolute;
  left: -15px;
  bottom: 0px;
  width: 0;
  height: 0px;
  border-radius: 10px;
  border-right: 18px solid rgb(41, 41, 41);
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
}

#calc-backspace:active {
  font-size: 15px;
  background-color: rgb(78, 75, 75);
}

#calc-backspace:active::before {
  border-right: 18px solid rgb(78, 75, 75);
}

#calc-backspace:focus {
  outline: 0;
}

.used {
  pointer-events: none;
  opacity: 0.2;
}

.run_num {
  pointer-events: none;
  opacity: 1;
}

/* Timer Style */

#timer {
  position: relative;
  display: inline-block;
  top: 100px;
  left: 120px;  
  background: url(img/Timer.svg) no-repeat;
  background-size: 85px;  
  background-position: 50% 50%;
  color: yellow;
  font-size: 40px;  
  font-family:'digital-clock-font';
  width: 100px;
  height: 100px;
  margin: 0;
  text-align: center;  
  box-sizing: border-box;
  padding-top: 0px;
  line-height: 110px;
}

#start_game {
  position: relative;
  display: inline-block;
  left: calc(75% + 30px);
  width: 120px;
  height: 45px;
  font-size: 24px;
  margin: 0;
  padding: 0;
  background-color: #0335a8;
  color: #f4f4f4;
  border: none;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  line-height: 45px;
}

#start_game:hover {
  background-color: #0e56ff;
}

#new_game {
  position: relative;
  display: none;
  background: url(img/twotone_restore_white_48dp.png) no-repeat;
  background-position: 50% 50%;
  background-size: 30%;
  width: 120px;
  height: 45px;
  top: calc(-25% + 5px);
  left: calc(40% - 30px);
  margin: 0px auto;
  padding: 0px;
  color: #f4f4f4;
  background-color: #a30072;
}

#new_game:hover {
  background-color: #ff00b2;
}

footer {
  position: absolute;
  color: #f4f4f4;
  width: 250px;
  height: 30px;
  top: 800px;
  left: 850px;
  z-index: 9999;
}

footer p {
  margin: 0;
  display: inline-block;
}

footer img {
  width: 30px;
  margin: 0 0 -10px 10px;
}

/* Responsive for smallest screen ###################################################################################################################### */
@media only screen and (max-width: 1440px) {
  
  .container {
    width: 1000px;
    height: 600px;
    background-color: transparent;
    margin: 90px auto;
    border: 2px solid #f4f4f4;
    border-radius: 20px; 
    background: rgba(0, 0, 0, 0.8);
  
  }

  footer {
    position: absolute;
    color: #f4f4f4;
    width: 250px;
    height: 30px;
    top: 710px;
    left: 650px;
    z-index: 9999;
  }
}


/* Responsive for smallest screen ###################################################################################################################### */
@media only screen and (max-width: 1050px) {

  body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0; 
  }

  .container {
    display: block;
    width: 400px;
    height: 630px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 10px auto;
    padding: 0;
    border-radius: 25px;
    transform: scale(1);
    top: 0px;
    position: relative;
  }

  #target {
    position: relative;
    top: 20px;
    left: -8px;
    margin: 0;
    padding: 0;
    color: #dbc715;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    border: 2px solid rgba(228, 228, 228, 0.877);
    background-color: #000;
    width: 100px;
    text-align: center;
  }
  
  .text-target {
    position: relative;
    display: inline-block;
    width: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    top: -20px;
    left: calc(30% - 4px);
    color: transparent;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
  }

  .text-target::after {
    content: ' Target';
    color: #f4f4f4;
    position: relative;
    left: -20px;
  }
  
  .text-value {
    position: relative;
    display: inline-block;
    width: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 5px;
    left: calc(70% - 85px);
    color:  transparent;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
  }

  .text-value::after {
    content: 'MyNumber';
    color: #f4f4f4;
    position: relative;
    left: -370px;
    top: 65px;
  }
  
  #value {
    display: inline-block;
    position: relative;
    top: 50px;
    left: calc(50% + 0px);
    margin: 0;
    padding: 0;
    color: #dbc715;
    font-size: 30px;
    width: 100px;
    background-color: #000;
    border: 2px solid rgb(48, 121, 255);
    text-align: center;
    font-family: 'Orbitron', sans-serif;
  }

  #timer {
    position: relative;
    display: inline-block;
    top: 60px;
    left: 40px;  
    background: url(img/Timer.svg) no-repeat;
    background-position: 50% 50%;
    color: yellow;
    font-size: 40px;
    font-family:'digital-clock-font';
    width: 100px;
    height: 100px;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    padding-top: 0px;
    background-clip: yellow;
    line-height: 100px;
    z-index: 1;
  }

  #calculator {
    width: 380px;
    height: 365px;
    top: 17%;
    background: linear-gradient(135deg, rgba(43, 43, 43, 0.5) 0%, rgba(89, 89, 89, 0.5) 0%, rgba(44, 44, 44, 0.5) 0%, rgba(71, 71, 71, 0.5) 0%, rgba(102, 102, 102, 1) 0%, rgb(0, 0, 0) 0%, rgb(82, 82, 82, 0.5) 50%, rgba(0, 0, 0, 0) 50%) no-repeat;
    background-color: #000;
    margin: 0 auto;
    padding: 0;
    border-radius: 25px;
    box-shadow: 2px 4px 30px 7px #f4f4f4;
    font-family: 'Orbitron', sans-serif;
    display: block;
  }

  #calc-display {
    position: relative;
    top: 0px;
    width: 340px;
    height: 50px;
    background-color:  rgba(255, 255, 255, 0.877);
    padding: 0;  
    border-radius: 20px;    
    margin: 0 auto;
  }

  #calc-display-val {
    width: 350px;
    height: 30px;
    margin: 0;
    padding: 13px 0 0 10px;
    position: relative;
    font-size: 22px;
    font-weight: bold;
    word-wrap: break-word;
    overflow: hidden;
  }

  .number-row {
    display: grid;
    width: 110px;
    grid-template-columns: repeat(2, 45px);
    grid-gap: 20px;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 25px;
    float: left;
  }

  .calc-row {
    display: grid;
    width: 110px;
    grid-template-columns: repeat(2, 45px);
    grid-gap: 20px;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 40px;
  }

  .calc-btn-num {
    border: 1px solid #f4f4f4;
  }
  
  .calc-btn-operator {
    border: 1px solid #f4f4f4;    
  }

  .column {
    text-align: center;
    font-size: 32px;
    padding: 0;
    height: 40px;
  }

  .calc-btn-operator:active {
    background-color: #ffffff;
  }

  .number-row {
    height: 40px;
}

  #num5 {
    grid-column: 1/3;
    margin: 0;
  }
  
  #num6 {
    grid-column: 1/3;
    margin: 0;
  }

  .calc-btn:active {
    font-size: 32px;
  }
  
  .calc-btn:focus {
    outline: 0;
  }
  
  #calc-confirm:active {
    font-size: 40px;
  }

  .calc-btn-operator:hover {
    font-size: 32px;
  }

  #calc-stop {
    display: none;
    background: rgb(196, 0, 0);
    color: #f4f4f4;
    height: 167px;
    width: 60px;
    position: absolute;
    left: 290px;
    top: 92px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 60px;
    letter-spacing: 5px;
    font-size: 26px;
  }

  #calc-backspace {
    position: relative;
    text-align: center;
    border-radius: 3px;
    background: #ffffff;
    border-top: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    color: #000000;
    width: 80px;
    height: 30px;
    font-weight: bolder;
    font-size: 26px;
    display: block;
    padding: 5px 0;
    top: 228px;
    left: 180px;
    line-height: 30px;
  }

  #calc-backspace::before {
    content: "";
    position: absolute;
    left: -14px;
    top: 5px;
    width: 29px;
    height: 29px;
    background-color: #ffffff;
    border-radius: 3px;
    border-left: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    border-right: 0px;
    border-top: 0px;
    transform: rotate(45deg);
  }

  #calc-backspace:active {
    font-size: 26px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 5px 5px 20px #f4f4f4; */
    box-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1), 0 0 0 75px rgba(255, 255, 255, 0.05),
    0 0 0 30px rgba(255, 255, 255, 0.05);
  }
  
  #calc-backspace:active::before {
    content: "";
    position: absolute;
    left: -14px;
    top: 5px;
    width: 29px;
    height: 29px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 20px #f4f4f4;
    border-radius: 3px;
    border-left: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    border-right: 0px;
    border-top: 0px;
    transform: rotate(45deg);
  }
  
  #calc-confirm {
    display: none;
    margin: 0;
    padding: 0;
    font-size: 40px;
    background-color: rgb(12, 153, 7);
    color: transparent;
    text-align: center;
    line-height: 55px;
    height: 167px;
    width: 60px;
    position: absolute;
    left: 290px;
    top: 92px;
  }

  #calc-confirm::after {
    content: ' =';
    color: #f4f4f4;
  }

  #calc-confirm:active {
    font-size: 40px;
  }

  #start_game {
    position: absolute;
    top: calc(25% + 0px);
    left: 290px;
    font-size: 24px;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 167px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    line-height: 60px;
  } 

  #new_game {
    position: absolute;
    display: none;
    top: calc(25% + 0px);
    left: 290px;
    background-position: 50% 50%;
    background-size: 60%;
    margin: 0;
    width: 60px;
    height: 167px;
    background-color: #a30072;
    line-height: 56px;
  }
  footer {
    position: absolute;
    color: #f4f4f4;
    width: 250px;
    height: 30px;
    top: 635px;
    left: 500px;
    z-index: 100;
  }
  
}

/* Response for mobile device 4" #################################################################################################################################### */
@media only screen and (max-width: 480px) {

  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .box-loader {
    position: relative;
    background-image: url(img/box-loader.png);
    background-repeat: no-repeat;
    background-size: 300px 450px;
    transform: scale(0.7);
    padding: 0;
    margin: 10px 10px;
    visibility: hidden;
    animation: zoomBox .3s forwards;
    animation-delay: .3s;    
  }

  .anima1 {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 0;
    z-index: 10000;
    zoom: 0.7;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    display: block;
    visibility: hidden;
    animation: head 2s ease forwards;
    animation-delay: 1s;
  }

  .anima1-bg {
    width: 130px;
    height: 0px;
    background-color: #D91C5C;
    overflow: hidden;
    margin-top: 70px;
    position: absolute;
    z-index: 0;
    zoom: 0.7;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
    display: block;
    animation: brain 1.5s ease forwards;
    animation-delay: 1s;
  } 

  .anima2 {
    position: absolute;
    width: 290px;
    height: 308px;
    margin: 0 auto;
    z-index: 10000;
    zoom: .7;
    top: calc(55% - 18px);
    left: calc(25% - 10px);
    transform: translate(-50%, -50%);
    display: block;
  }

  .numbers {
    position: absolute;
    width: 70%;
    height: 70%;
    top: calc(40% + 25px);
    left: calc(20% - 0px);
    transform: translate(-50%, -50%);
    zoom: .7;
    animation: num 7s;
    animation-delay: 3s;
    visibility: hidden;
}

  .container {
    position: absolute;
    width: 400px;
    height: 630px;
    margin: 0px auto;
    padding: 0;
    overflow: hidden;
    border-radius: 25px;
    transform: scale(0.7);
    top: -80px;
    left: -35px;
  }

  #calculator {
    width: 380px;
    height: 390px;
    top: 13%;
    background: linear-gradient(135deg, rgba(43, 43, 43, 0.5) 0%, rgba(89, 89, 89, 0.5) 0%, rgba(44, 44, 44, 0.5) 0%, rgba(71, 71, 71, 0.5) 0%, rgba(102, 102, 102, 1) 0%, rgb(0, 0, 0) 0%, rgb(82, 82, 82, 0.5) 50%, rgba(0, 0, 0, 0) 50%) no-repeat;
    background-color: #000;
    margin: 0 auto;
    padding: 0;
    border-radius: 25px;
    box-shadow: 2px 4px 30px 7px #f4f4f4;
    font-family: 'Orbitron', sans-serif;
    display: block;
}

  #target {
    position: relative;
    top: 20px;
    left: -8px;
    margin: 0;
    padding: 5px;
    color: #dbc715;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    border: 2px solid rgba(228, 228, 228, 0.877);
    background-color: #000;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 40px;
  }

  .text-target::after {
    content: ' Target';
    color: #f4f4f4;
    position: relative;
    top: -5px;
    left: -15px;
  }

  #value {
    display: inline-block;
    position: relative;
    top: 50px;
    left: calc(50% + 0px);
    margin: 0;
    padding: 5px;
    color: #dbc715;
    font-size: 30px;
    width: 100px;
    height: 30px;
    background-color: #000;
    border: 2px solid rgb(48, 121, 255);
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    line-height: 36px;
  }

  .number-row {
    display: grid;
    width: 110px;
    grid-template-columns: repeat(2, 45px);
    grid-gap: 20px;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 25px;
    float: left;
  }

  .calc-btn-num {
    border: 1px solid #f4f4f4;
    line-height: 50px;
  }
  
  .calc-btn-operator {
    border: 1px solid #f4f4f4;
    line-height: 45px;

  }

  .calc-btn-operator:active {
    background-color: #ffffff;
  }

  #calc-display-val {
    width: 350px;
    height: 30px;
    margin: 0;
    padding: 17px 0 0 10px;
    position: relative;
    font-size: 22px;
    font-weight: bold;
    word-wrap: break-word;
    overflow: hidden;
}

  #calc-backspace {
    position: relative;
    text-align: center;
    border-radius: 3px;
    background: #ffffff;
    border-top: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    color: #000000;
    width: 80px;
    height: 30px;
    font-weight: bolder;
    font-size: 26px;
    display: block;
    padding: 5px 0;
    top: 228px;
    left: 180px;
    line-height: 36px;
  }

  #calc-backspace::before {
    content: "";
    position: absolute;
    left: -14px;
    top: 5px;
    width: 29px;
    height: 29px;
    background-color: #ffffff;
    border-radius: 3px;
    border-left: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    border-right: 0px;
    border-top: 0px;
    transform: rotate(45deg);
}

  #start_game {
    position: absolute;
    top: calc(25% - 5px);
    left: 290px;
    font-size: 24px;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 167px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    line-height: 60px;
  } 

  #new_game {
    position: absolute;
    display: none;
    top: calc(25% - 5px);
    left: 290px;
    background-position: 50% 50%;
    background-size: 60%;
    margin: 0;
    width: 60px;
    height: 167px;
    background-color: #a30072;
    line-height: 56px;
  }

  footer {
    position: absolute;
    color: #f4f4f4;
    width: 250px;
    height: 30px;
    top: 460px;
    left: 60px;
    z-index: 100;
  }
}

